@font-face {
  font-family: 'Trim DAZN Header';
  src: url('~assets/TrimDAZNHeader-Bold.woff2') format('woff2'),
    url('~assets/TrimDAZNHeader-Bold.woff') format('woff'),
    url('~assets/TrimDAZNHeader-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.header-font{
  font-family: 'Trim DAZN Header';
  text-transform: uppercase;
}

